<ion-header no-border color="primary" *ngIf="!globalService.isNewApp">
  <ion-toolbar>
    <ion-buttons slot="end" *ngIf="!globalService.isNewApp">
      <ion-button class="toolbar-icon" (click)="openHome()">
        <ion-icon slot="icon-only" name="ios-close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button class="toolbar-icon-info" (click)="showInfo()">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content overflow-scroll="true">
  <div class="ion-content" [ngClass]="{'m-top-1': globalService.isNewApp}">
    <form [formGroup]="configForm">
      <h2>Please Enter your Ticket's Value (dt)</h2>
      <ion-input required type="number" min="0" [placeholder]="ticketValue" formControlName="ticketValue"
        (change)="handleTicketValue()"></ion-input>
      <h2>Please Enter The Subtracted Percentage (%)</h2>
      <ion-input required type="number" min="0" max="100" [placeholder]="subtractedPercent"
        formControlName="subtractedPercent" (change)="handleSubtractedPercent()"></ion-input>
    </form>
  </div>
</ion-content>
<ion-fab horizontal="center" vertical="bottom" slot="fixed" (click)="saveConfig()">
  <ion-fab-button color="dark">
    <ion-icon name="arrow-forward" *ngIf="globalService.isNewApp"></ion-icon>
    <ion-icon name="save" *ngIf="!globalService.isNewApp"></ion-icon>
  </ion-fab-button>
</ion-fab>