<ion-header no-border color="primary">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="toolbar-icon" (click)="openConfig()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="home-content">
    <form [formGroup]="homeForm">
      <ion-input #input autofocus="true" required type="number" min="0" [placeholder]="0" formControlName="amount"
        clearInput (ionInput)="prepareCalculation()">
      </ion-input>
    </form>
  </div>
  <div class="subtracted-percent">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <h4 [ngClass]="{'custom-disabled': !activePercent}">- {{globalService.subtractedPercent}}%</h4>
          </div>
        </ion-col>
        <ion-col>
          <ion-toggle color="dark" checked="activePercent" (click)="togglePercent()"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="results-container">
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <p>{{ticketsNumber}} x Ticket{{ticketsNumber > 1 ? 's' : null}}</p>
        </ion-col>
        <ion-col size="1" *ngIf="rest !== '0'">
          <p>&</p>
        </ion-col>
        <ion-col *ngIf="rest !== '0'">
          <p>{{ rest | number: '1.0-3'}} dt</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>